<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', path='src/assets/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='src/assets/style.css') }}" />
  </head>

  <body id="body">
    <!-- Header -->
    <header>
      <div class="header">
        <div class="left">
          <img src="{{ url_for('static', path='publish/logout.png') }}" alt="Logout" onclick="logoutEvent()" />
          <div class="divider"></div>
          <img src="{{ url_for('static', path='publish/setting.png') }}" alt="Setting" onclick="settingEvent()" />
        </div>
      </div>
    </header>

    <!-- Main: Account List -->
    <main>
      <div class="main-top-container">
        <div class="main-top"></div>
        <div class="main-top-right">
          <input type="file" id="fileInput" style="display:none" />
          <div class="action-button import-button" onclick="document.getElementById('fileInput').click()">
            <img src="{{ url_for('static', path='publish/import.png') }}" alt="" style="max-width:20px" />
            <span>Import</span>
          </div>
          <div class="action-button getToken-button disabled" id="get_token" onclick="getTokenEvent()">
            <img src="{{ url_for('static', path='publish/get_token.png') }}" alt="" style="max-width:20px" />
            <span>Get token</span>
          </div>
        </div>
      </div>
      <hr />
      <div id="table"></div>
      <div id="message"></div>
    </main>

    <hr />
    <!-- Footer -->
    <div class="current-page-info" id="page-info">
          Trang 0 - Hiển thị 0 items/trang - Tổng: 0 items
      </div>
    <footer>
      
      <div class="pagination-container">
        
        <div id="panigate_page">
          <ul>
            <li>
              <button onclick="fetchPage(${i})" disabled>0</button>
            </li>
          </ul>
        </div>
        
      </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='src/js/main.js') }}"></script>
  </body>
</html>
